<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <%- partial('plugins/sites/visit') %>
      <p>
        Powered by  <a href="http:/huanyu10.cn/" target="_blank">huanyu10</a>
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      </p>
    </div>
  </div>
</footer>